<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/images/map.png" alt="map" />
  <ion-card>
    <ion-card-content>
      <p>Address</p>
      <p>Complement</p>
      <p>Neighborhood</p>
      <p>ZIP</p>
      <p>City</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">CREATE PICKUP CALL</ion-button>
</ion-content>
